PORT=8000
DB_URI="your_mongodb_uri/your_database_name"
NODE_ENV=development/production
JWT_SECRET_KEY=your secret key
JWT_EXPIRY=1d
REFRESH_TOKEN_KEY=your secret key
REFRESH_TOKEN_EXPIRY=10d
COOKIE_EXPIRY=10

FRONTEND_URL=http://localhost:5173
SMTP_SERVICE=gmail
SMTP_MAIL=aman@test.com
SMTP_PASSWORD=your password